*.cmi
*.cmo
._bcdi/
._d/
float.o
min-caml
min-caml.top
.DS_Store
lexer.ml
parser.ml
parser.mli
*.s
*.asm
*.dSYM
*.bin

sandbox/
shootout/x86/
test/x86/
to_ppc
to_x86
x86/

asm.mli
test/toomanyargs.ml
test/manyargs.ml
asm.ml
shootout/Makefile
simm.ml
emit.ml
regAlloc.ml
virtual.ml
libmincaml.S
min-rt/globals.s
bytemark/Makefile

raytracer/
min-rt/

*.out
*.ppm
